<div class="justify-content-center align-items-center">


     {{#if signupMessage}}
     <div class="errorMensaje">
          {{signupMessage}}
     </div>
     {{/if}}
     {{> SignUp}}


</div>
<script>
     let input = document.querySelector("#phone");
    window.intlTelInput(input, {
        separateDialCode: true,
        initialCountry:"AR",
        dropdownContainer: document.body
    });
  
  
    let iti = window.intlTelInputGlobals.getInstance(input);

    input.addEventListener('input', function() { 
      document.getElementById('country').value = iti.activeItem.dataset.dialCode;
    });
</script>
