<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet"  href="/css/style.css"/>
 <title>{{title}}</title>
</head>
<body class="container">
   <nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand" href="#"></a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item">
          <a class="nav-link" id="home" href="/productos">Todos Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="add" href="/productos/nuevo">Nuevo Productos</a>
        </li>
      </ul>
    </div>

</nav>
