<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-10">Centro de Mensajes</h2>

    <form onsubmit="return enviarMensaje()">
      <input type="email" id="email" placeholder="email" required />

      <div id="contenedorMensaje" style="min-height: 100px"></div>

      <input type="text" id="mensaje" placeholder="mensaje" />
      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>