<div class="login">
  <div class="form">
    <form action="/login" method="post">
    
      <span>Acceso</span>
      <input name="name" id="name" type="text" placeholder="Nombre" required/>
      <button>Enviar</button>
    </form>  
  </div>
</div>