<div class="login">
  <div class="form">
    <form action="/login" method="post">

      <span>Acceso</span>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">
        SignIn
      </button>
    </form>
  </div>
</div>