<div class="row">

  <div class="form col s12">

    <form action="/register" method="post" name="register" role="form" enctype="multipart/form-data" enctype="multipart/form-data">

      <span>Registro</span>
      <input name="email" id="email" type="email" placeholder="email" required />
        <input name="password" id="password" type="text" placeholder="password" required />
        <input name="name" id="name" type="text" placeholder="name" required />
        <input name="lastName" id="lastName" type="text" placeholder="lastName" />
        <input name="address" id="address" type="text" placeholder="address" />
        <input name="age" id="age" type="text" placeholder="age" />
        <input id="phone" type="tel" name="phone" />
        <input id="country" type="text" name="country" type="hidden"/>
        <input type="file" name="avatar" id="avatar" required />
 

        <img src="" id="preview"></img>
 
        <button type="submit" onSubmit="myFunction()">
          SignUp
        </button>

      </div>
    </form>

  </div>
</div>