{{> headers title="Login"}}
  
<div class="justify-content-center align-items-center">
 

   {{#if signupMessage}} 
       <div class="errorMensaje">    {{signupMessage}} </div>
     {{/if}} 
{{> SignUp}}


 </div>
{{> footer year="2022"}}