<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 style="color: blue">Centro de Mensajes</h2>

    <form onsubmit="return enviarMensaje()">
      <input type="email" id="email" placeholder="email" required />
      <br /><br />
      <div
        id="contenedorMensaje"
        style="min-height: 100px; background-color: white; padding: 10px"
      ></div>
      <br />
      <input type="text" id="mensaje" placeholder="mensaje" />
      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>