<div class="login">
  <div class="form">
    <form action="/login" method="post">
    
      <span>Acceso</span>
      <input name="nombre" id="nombre" type="text" placeholder="Nombre" required/>
      <input name="password" id="password" type="text" placeholder="Contraseña" required/>
      <button>Enviar</button>
    </form>  
      <button style="background-color:beige"> <a href="/register">Registrarse</a></button>
  </div>

</div>