<div class="chat-container">
  <header class="chat-header">
    <h1>
      Chat
    </h1>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
       {{#when session.passport.user.membership 'eq' 1 }}
     <p>Seleccione el usuario a enviar mensaje</p>
       <div class="user_List"><select id="userList"></select></div>
      {{/when}}
      <button class="btn2" onclick="storeDetails()">
        Conectar
      </button>
    </div>
    <div class="chat-messages">
      <div class="message"></div>
    </div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
      />
      <button class="btn">
        Enviar
      </button>
    </form>
  </div>
</div>