<div class="chat-container">
  <header class="chat-header">
    <h1>
      Chat
    </h1>

    {{#when session.passport.user.membership "eq" 1}}
      <p>
        Seleccione el usuario a enviar mensaje
      </p>
      <div class="user_List">
        <select id="userList"></select>
      </div>
    {{/when}}
    <button class="btn2" onclick="storeDetails()">
      Conectar
    </button>
  </header>
  <main class="chat-main" id="messageContainer">
    <div class="chat-messages">
      <div class="message"></div>
    </div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <input
        id="msg"
        type="text"
        placeholder="Ingrese Mensaje"
        required
        autocomplete="off"
      />
      <button class="btn" id="btnSend">
        Enviar
      </button>
    </form>
  </div>
</div>