<div class="justify-content-center align-items-center">
  {{#if signinMessage}}
    <div class="errorMensaje">
      {{signinMessage}}
    </div>
  {{/if}}
  <div class="login">
    <div class="form">
      <form action="/signin" method="post">
        <span>
          Acceso
        </span>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">
          Iniciar Sesión
        </button>
      </form>
      <br />

      <div>
        <a class="btn loginBtnfacebook" href="/auth/facebook">
          Login with Facebook
        </a>
<br />
        <a class="btn loginBtngoogle" href="/auth/google">
          Login with Google
        </a>
      </div>
    </div>
  </div>
</div>