<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      Marca
    </a>

    <ul class="navbar-nav ms-md-auto gap-2">
      <li class="nav-item">
        <a class="nav-link" id="home1" href="/">Home
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" id="home" href="/productos">
          Todos Productos


        </a>
      </li>


      {{#when session.passport.user.membership 'eq' 1 }}
      <li class="nav-item">
        <a class="nav-link" id="add" href="/productos/nuevo">
          Nuevo Productos
        </a>
      </li>
      {{/when}}

      <li class="nav-item">
        <a class="nav-link" id="add" onclick="cart()">
          Carrito
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="add" href="/chat">
          Chat
        </a>
      </li>
    </ul>

  {{#if session.passport.user}}
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <span>
          {{#if session.passport.user.name.givenName}}
       Hola   {{session.passport.user.name.givenName}}
           {{else}}
       Hola   {{session.passport.user.name}}
            {{/if}}

        </span>
      <li class="nav-item">
        <a class="nav-link" id="logout" href="/profile">
          Perfil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="logout" href="/logout">
          Cerrar Sesión
        </a>
      </li>
    </ul>
    {{else}}

    {{/if}}


  </div>

</nav>
