{{> headers title="Carrito" }}
<h1>Carrito </h1>
 
<div class="vh-100 d-flex justify-content-center align-items-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
     <th scope="col">Cantidad</th>
    <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
 

 {{> carritoDetalle}}


    </tbody>
</table>


</div>


{{> footer year="2022"}}