{{> headers title="Info" }}

<div class="vh-100 d-flex justify-content-center align-items-center">

<p>Argumentos de entrada: {{datos.argumentos}}</p>
 <p>Memoria: {{datos.memoria}}</p>


</div>
{{> footer year=2022}}