extends  partials/layouts
 
block resultados

    h2(style="color: blue") Vista de Productos
    if productos.length > 0
        div(class="table-responsive")
            table(class="table table-dark")
                tr
                th Nombre
                th Precio
                th Foto URL

                each producto of productos
                    tr
                    td= `${producto.nombre}`
                    td= `${producto.precio}`
                    - var img = `${producto.foto}`
                    td 
                        img(src=img style='display: inline-flex; width: 40px; height: 40px')     

 
    else 
         h3(class="alert alert-danger") No se encontraron productos

    button( class="btn btn-light" type="button") 
        a(href="/") Agregar Resultados
            