<div class="justify-content-center align-items-center">
 
    <div class="form">
    <form action="/signup" method="post" name="register" enctype="multipart/form-data">

        <span>Registro</span>
        <input name="email" id="email" type="email" placeholder="email" required />
        <input name="password" id="password" type="text" onChange="check_pass()" placeholder="password" required />
        <input name="confirm_password"  id="confirm_password"  type="text"  onChange="check_pass()" placeholder="confirm password" required />
        <input name="name" id="name" type="text" placeholder="name" required />
        <input name="lastName" id="lastName" type="text" placeholder="lastName" />
        <input name="address" id="address" type="text" placeholder="address" />
        <input name="age" id="age" type="text" placeholder="age" />
        <input id="phone" type="tel" name="phone" />
        <input id="country" type="text" name="country" type="hidden"/>
        <input type="file" name="avatar" id="avatar" required />
       

        <img src="" id="preview"></img>
        <input type="submit" onSubmit="myFunction()" name="submit"  value="Registration"  id="submit" disabled/>

    </form>
    </div>
</div>