<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.3/build/css/intlTelInput.css" />
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.3/build/js/intlTelInput.js"></script>

<div class="container">
  <div class="row">
 
    {{#if user}}
    <h1>Bienvenido</h1>
    {{else}}
    <div class="col m6">
      {{> login}}

    </div>
    <div class="col m6">
      {{> signUp}}
    </div>
    {{/if}}
  </div>
</div>



<script>
  let input = document.querySelector("#phone");
  window.intlTelInput(input, {
    separateDialCode: true,
    initialCountry: "AR",
    dropdownContainer: document.body
  });


  let iti = window.intlTelInputGlobals.getInstance(input);

  input.addEventListener('input', function () {
    document.getElementById('country').value = iti.activeItem.dataset.dialCode;
  });
</script>