<div class="justify-content-center centrado">
<div class="row">

<div class="col l6 m6 s12">
  <h1>
  Pedido
</h1>
  {{> formOrder}}

</div>
<div class="col l6 m6 s12">
  {{> formOrderCart}}

</div>

</div>
</div>
