<div class="container">
  <div class="shell">
    <div class="container">
      <div class="row">
        <!-- filas -->
          <div class="col-md-3">
              <div id="Menu"class="menu-list">
                <span>Categorias</span>
                <ul>
                    {{#each cat}}
                      <li> <a href='/productos/categoria/{{this}}'>{{this}}</a></li>  
                    {{/each}}
                </ul>
              </div> 
          </div> 

          <div class="col-md-9">
            <div class="container">
                <div class="row">
                  {{> product}}
                </div>      
            </div>
          </div>      
      </div>
    </div> 
  </div>
</div>
 